body{
    background-color: black;
    margin: 0px; padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    background-color:#000;
    height: 168vh; width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.hero{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6),
        rgba(0,0,0,1)),
        url(bgimage1.jpg);
    background-size: cover;
    background-position: center;
}

div.hero.infobox{
    position: fixed;
    height: 300px;width: 500px;
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    margin: 200px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.607);
}
section.hero nav{
    padding: 20px;
    height: 50px;
    width: 97%;
    display: flex;
    color: white;
    font-family: system-ui;
    align-items: center;
    justify-content: space-between;
}
.navitems{
    display: flex;
}
.logo{
    font-size: 30px;
    font-weight: 500;
}

nav ul{
    list-style: none;
    width: auto;
    margin: 0px;
    padding: 0px;
}
li{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
li:hover{
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(5px);
    color: white;
}
section.hero h1{
    font-family: system-ui;
    color: white;
    margin: 60px 0px 0px;
    font-size: 110px;
}

section.hero p{
    margin: 70px 0px 0px;
    color: white;
    text-align: center;
    width: 1200px;
    font-size: 15px;
    font-family: system-ui;
    font-weight: 500;
}
section.hero div.learnmore{
    margin: 45px 0px;
    height: 40px;
    width: 120px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: system-ui;
    font-weight: 500;
    color: black;
    background-color: beige;
    box-shadow: none;
    outline: none;
    transition: 500ms;
}

section.hero div.learnmore:hover{
    scale: 1.1;
    transition: 500ms;
    text-decoration: underline;
    cursor: pointer;
}

section.hero .imagegal{
    display: flex;
    align-items: center;
    margin: 200px 0px 0px;
    height: 320px;
}

section.hero .imagegal .image{
    height: 360px;
    width: 300px;
    margin: 50px 40px;
    transition: 600ms;
    box-shadow: 0px 0px 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);}

section.hero .imagegal .image:hover{
    height: 480px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.448);
    transition: 600ms;}

section.B div.secB{
    height: 80vh;
    width: 80vw;
    background-color: white;
    border-radius: 0vh 40vh 40vh 0vh;
}